$color-main-text: #1B2733;
$color-secondary-text: #647282;
$color-secondary-text-table: #788392;
$color-sidebar:  #F7F9FA;
$color-primary-white: #FFFFFF;
$color-error: #EB5757;
$color-bg-dark: #212529;