.colorLabel {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.tableWrapper {
  display: inline-block;
  max-height: 100%;
  overflow: auto;
  width: 100%;
}

.btn {
  margin-right: 5px;
}
