.authSection {
    width: 60%;
    margin: 30px auto 0;
}

.authTitle {
    margin-bottom: 30px;
}

.btnWrapper {
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
}
